* {
    /* font-size: 20px; */
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
}

.header {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    /* This will make the main content take up all the remaining space */
}

a {
    text-decoration: none;
}

p {
    font-size: 3rem;
}

.project-img {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

.navbar {
    height: 7.1rem;
    width: 100%;
    text-decoration: none;
    color: #f0f0f0;
    background-color: #BE3144;

    display: flex;
    position: fixed;
    justify-content: flex-end;

    /* border-bottom: 2px solid black; */
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 6rem; */
    margin-right: 1.3rem;
}

ul {
    padding: 1.2rem;
}


.nav-list a {
    text-decoration: none;
    color: #f0f0f0;
    padding: 1.5rem;
    font-size: 2.2rem;
}

ul li:hover {
    /* height: 3em; */
    background-color: #45567d;
    z-index: 12;
}

li {
    list-style: none;
    text-decoration: none;
    margin-left: 1rem;
    padding: 2rem 0rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


.about-item h1 {
    color: white;
    font-size: 6rem;
    font-weight: 700;
}

.about-item p {
    display: flex;
    justify-content: center;
    color: #BE3144;
    font-style: italic;
    font-weight: 200;
}

.work {
    padding: 10rem 2rem;
    min-height: 100vh;
    color: #f0f0f0;
    background-color: #45567D;
    text-align: center;
}

.work h2 {
    max-width: 640px;
    margin: auto;
    font-size: 4.2rem;
    color: white;
    border-bottom: 0.2rem solid white;
}

.work:hover+.code {
    display: block;
}

.work:hover .code {
    display: block;
    color: red;
}

.code {
    width: 1.5rem;
    font-size: 3rem;
    margin-top: 0.2rem;
    display: none;
}

.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

/* 
.grid1 {
    grid-area: grid1;
}

.grid2 {
    grid-area: grid2;
}

.grid3 {
    grid-area: grid3;
}

.grid4 {
    grid-area: grid4;
}

.grid5 {
    grid-area: grid5;
}

.grid6 {
    grid-area: grid6;
} */

@media(max-width: 30.625em) {
    .work {
        padding: 6rem 1rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

}